@import 'sweetalert2/src/variables';

// BOX MODEL
$swal2-border-radius: 0;
$swal2-box-shadow: none;

// BACKDROP
$swal2-backdrop-transition: initial;

// ICONS
$swal2-icon-animations: false;

// INPUT
$swal2-input-border-radius: 0;
$swal2-input-box-shadow: none;
$swal2-input-box-shadow-focus: none;
$swal2-input-transition: initial;

// BUTTONS
$swal2-confirm-button-border-radius: 0;
$swal2-cancel-button-border-radius: 0;

// ANIMATIONS
$swal2-show-animation: none;
$swal2-hide-animation: none;

// CLOSE BUTTON
$swal2-close-button-transition: initial;

// TOASTS
$swal2-toast-show-animation: none;
$swal2-toast-hide-animation: none;
$swal2-toast-success-line-tip-animation: none;
$swal2-toast-success-line-long-animation: none;
$swal2-toast-border: 1px solid lighten($swal2-black, 85);
$swal2-toast-box-shadow: none;

@import 'sweetalert2/src/sweetalert2';
