@import '~sweetalert2/src/variables';

// BOX MODEL
$swal2-box-shadow: none;

// BACKGROUND
$swal2-background: transparent;

// BACKDROP
$swal2-backdrop: rgba(54, 70, 93, .99);

// TITLE
$swal2-title-color: $swal2-white;

// CONTENT
$swal2-content-color: $swal2-white;

// PROGRESS STEPS
$swal2-progress-step-background: rgba($swal2-black, .2);

// VALIDATION MESSAGE
$swal2-validation-message-background: transparent;
$swal2-validation-message-color: $swal2-white;

// FOOTER
$swal2-footer-color: $swal2-white;
$swal2-footer-border-color: rgba($swal2-white, .2);

// CLOSE BUTTON
$swal2-close-button-position: fixed;
$swal2-close-button-font-size: 3em;
$swal2-close-button-color: $swal2-white;

@import '~sweetalert2/src/sweetalert2';
