@import '~sweetalert2/src/variables';

// Theme variables
$material-ui-blue: #2196f3;
$material-ui-disabled: #808080;

// override SASS variables here
// CONFIRM BUTTON
$swal2-confirm-button-border: 0;
$swal2-confirm-button-border-radius: 0;
$swal2-confirm-button-background-color: rgba(255, 255, 255, 0);
$swal2-confirm-button-color: $material-ui-blue;

// CANCEL BUTTON
$swal2-cancel-button-border: 0;
$swal2-cancel-button-border-radius: 0;
$swal2-cancel-button-background-color: rgba(255, 255, 255, 0);
$swal2-cancel-button-color: $material-ui-blue;

// BUTTONS
$swal2-button-darken-hover: rgba($material-ui-blue, .1);
$swal2-button-focus-outline: none;

// ACTIONS
$swal2-actions-justify-content: flex-end;

// CLOSE BUTTON
$swal2-close-button-border-radius: 50%;
$swal2-close-button-hover-background: rgb(242, 242, 242);
$swal2-close-button-hover-color: $swal2-close-button-color;

@import '~sweetalert2/src/sweetalert2';

.swal2-styled {
  &[disabled] {
    color: $material-ui-disabled;
    opacity: 1;
  }
}
